body{
    background: white;
}
nav {
    float:right;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin-right: 50px;
    padding-top: 25px;
}

nav a{
    color: #566991;
}

.navbar::after{
    content: '';
    display: table;
    clear:both;
}

.navbar{
    margin:0;
    padding:0;
    background: #2c3840;
}

#search-bar{
  text-align: center;
}

.logo{
    float:left;
    width: 120px;
    height: auto;
}
.icon{
    width:40px;
    height:auto;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}