
body {
    background: white;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    padding-top: 25px;
}

nav a {
    color: #566991;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}


.navbar {
    margin: 0;
    padding: 0;
    border: 0;
    background: #2c3840;
}


#search-form {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
Styling for searchbar textfield
 */
input[name="q"] {
    border-radius: 5px;
    border: inset white;
    background: #566991;
}

/*
Styling for placeholder text
inside searchbar textfield
 */
input[name="q"]::placeholder {
    color: #2c3840;
}

/*
Styling for onclick focus on
searchbar textfield
 */
input[name="q"]:focus {
    outline-width: 0;
}


/*
Styling for follow button,
hiding checkbox
 */
input[name="cb"] {
    visibility: hidden;
}

/*
Styling for follow button,
turning checkbox into button
 */
label[for="follow-cb"] {
    width: 90px;
    height: 25px;
    background: white;
    border: outset #566991;
    border-radius: 15px;
    user-select: none;
    line-height: 130%;
}

/*
Styling for follow button,
insets when clicked
 */
label[for="follow-cb"]:active {
    background: #f5f5f5;
    border: inset #566991;
}

.logo {
    float: left;
    width: 120px;
    height: auto;
}

.icon {
    width: 40px;
    height: auto;
}

footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

/*post styling*/

.post_img {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    object-fit: cover;
}

.profile_pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    margin: auto;
    width: 400px;
    border: 5px #2c3841;
    border-radius: 4%;
    padding: 10px;
}

.profile * ,.post *:not(.star ) {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.auth *{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}


.post, .profile_pic_a, .auth {
    margin: auto;
    width: 400px;
    border: 5px #2c3841;
    border-radius: 4%;
    padding: 10px;
}


main {
    margin: auto;
    width: 900px;
    border: 5px #2c3841;
    border-radius: 4%;
    padding: 10px;
}

main button {
    text-align: center;
    margin: auto;
    width: 200px;
    border: 5px #2c3841;
    border-radius: 4%;
    padding: 10px;
}

.post , .auth{
    background: rgba(133, 145, 175, 0.08);
    margin-bottom: 50px;
}